{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login in to The Nest Acc.</title>
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="{% static 'images/favicon/favicon.svg' %}"
    />
    <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <style>
      @media (max-width: 768px) {
        .container {
            flex-direction: column;
            text-align: center;
        }
        body{
            height: 100vh;
        }
    
        .logo {
            margin-bottom: 20px;
        }
    
        .login-container {
            width: 100%;
        }
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img
          src="{% static 'images/default_images/BigScreen.png' %}"
          alt="Logo"
        />
      </div>
      <div class="login-container">
        <h2>Login in to The Nest</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your email"
              required
              autocomplete="email"
            />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
            />
          </div>
          <a href="" class="forgot-password">Forgot Password?</a>
          <button type="submit" class="login-btn">Log In</button>
        </form>
        <p class="create-account">
          Don't have an account?
          <a href="{% url 'signup' %}?signup=true">Create one</a>
        </p>
      </div>
    </div>
  </body>
</html>
