{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/posts/home.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js"></script>
<style></style>
<div class="container">
  <div class="left_navigation">
    <div class="new_feeds">
      <h3>New Feeds</h3>
      <div class="section">
        <a href="#" class="menu-item feeds-items"
          ><i class="bx bx-news"></i> Feeds</a
        >
        <a href="#" class="menu-item feeds-items"
          ><i class="bx bx-group"></i> Popular Groups</a
        >
        <a href="#" class="menu-item feeds-items"
          ><i class="bx bx-trending-up"></i> Trending Posts</a
        >
        <a href="#" class="menu-item feeds-items"
          ><i class="bx bx-bookmark"></i> Saved Posts</a
        >
        <a href="#" class="menu-item feeds-items"
          ><i class="bx bx-user-plus"></i> Suggested Account</a
        >
      </div>
    </div>
    <div class="more_pages">
      <h3>More Pages</h3>
      <div class="section">
        <a href="#" class="menu-item more-item"
          ><i class="bx bx-calendar-event"></i> Events</a
        >
        <a href="#" class="menu-item more-item"
          ><i class="bx bx-store"></i> Marketplace</a
        >
        <a href="#" class="menu-item more-item"
          ><i class="bx bx-folder"></i> Resources</a
        >
        <a href="#" class="menu-item more-item"
          ><i class="bx bx-search-alt-2"></i> Lost and Found</a
        >
        <a href="#" class="menu-item more-item"
          ><i class="bx bx-home-alt"></i> Housing & Roommates</a
        >
      </div>
    </div>
    <div class="account_settings">
      <h3>Account Settings</h3>
      <div class="section">
        <a href="#" class="menu-item account-item"
          ><i class="bx bx-user-circle"></i> View Profile</a
        >
        <a href="#" class="menu-item account-item"
          ><i class="bx bx-edit"></i> Edit Profile</a
        >
        <a href="#" class="menu-item account-item"
          ><i class="bx bx-help-circle"></i> Help Center</a
        >
        <a href="#" class="menu-item account-item"
          ><i class="bx bx-moon"></i> Dark Mode</a
        >
      </div>
    </div>
  </div>
  <div class="posts_suggested_profiles">
    <div class="posts_container">{% include 'posts_list.html' %}</div>
    <div class="add-post-btn">
      <a href="{% url 'create_post' %}">
        <i class="bx bx-plus"></i>
      </a>
    </div>
  </div>

  <div class="right_navigation">
    <h3>Contacts</h3>
    <p>Chat and friend suggestions here...</p>
  </div>
</div>
<script src="{% static 'js/posts/posts_list.js' %}"></script>
{% endblock %}
